:root {
  --color-logo: #000000;
  --first-title-color: #212121;
  --accent-color: #2196f3;
  --push-accent-color: #188ce8;
  --item-color: #757575;
  --color-white-text: #fff;
  --color-backgroutd: #2f303a;
  --color-btn: #f5f4fa;
  --color-team: #f5f4fa;
  --border-color: #eeeeee;
  --color-border: #ececec;
  --color-icon-team: #afb1b8;
  --cost-border: #afb1b8;
  --boreders-top-wrap: rgba(33, 150, 243, 0.9);
}
