html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.li {
  list-style: none;
}

.link {
  text-decoration: none;
}
.no-scroll {
  overflow: hidden;
}
